{% extends 'base.html.twig' %}

{% block title %}Découvrez les épisodes de la saison #{{ season.number }}
{% endblock %}

{% block body %}
	<div>
	<a> href="{{ path('program_season_show', { 'program_id': program.id , 'season_id': season.id , 'episode_id': episode.id }) }}</a>
		<h1>
			{{season.number}}
		</h1>
		<h2>
			{{ episode.title }}
		</h2>
		<p>Episode : {{ episode.number }}</p>
		<p>{{ episode.synopsis }}</p>
		</div>

	<a href="{{ path('episode_index') }}"> Retour à la liste des program</a>
	<a href="{{ path('episode_show', {'id': episode.id}) }}">Retour à la liste des épisodes</a>
	{% endblock %}